<div class="row justify-content-around">
    <div class="col-md-6">
        <div class="row justify-content-center my-2" style="background-color: #9513FC24">
            <div class="col-12">
                <img class="w-100" src="../../assets/Website_Redesign.png">
            </div>
            <div class="col-12 p-4" style="background: rgba(255, 255, 255, 0.5)">
                <h4 class="font-weight-bold">Website Redesign</h4>
                <span>@ Voyager Technologies</span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row justify-content-center my-2" style="background-color: #00a49a24">
            <div class="col-12">
                <img class="w-100" src="../../assets/Requirements_Tracker.png">                
            </div>
            <div class="col-12 p-4" style="background: rgba(255, 255, 255, 0.5)">
                <h4 class="font-weight-bold">Requirements Tracker</h4>
                <span>@ Voyager Technologies</span>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-around">
        <div class="col-md-6">
            <div class="row justify-content-center my-2" style="background-color: #96fe9224;">
                <div class="col-12">
                    <img class="w-100" src="../../assets/Website_Redesign.png">
                </div>
                <div class="col-12 p-4" style="background: rgba(255, 255, 255, 0.5)">
                    <h4 class="font-weight-bold">Vested</h4>
                    <span>@ Koalafied</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-center my-2" style="background-color: #fbd34f24">
                <div class="col-12">
                    <img class="w-100" src="../../assets/Requirements_Tracker.png">                
                </div>
                <div class="col-12 p-4" style="background: rgba(255, 255, 255, 0.5)">
                    <h4 class="font-weight-bold">Spot</h4>
                    <span>@ UC San Diego, Civic Design</span>
                </div>
            </div>
        </div>
    </div>




