<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="['fal','menu']"></fa-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ml-auto text-uppercase font-weight-bold text-outer-space">
        <a class="nav-item nav-link" routerLink="/work" routerLinkActive="active">
          <fa-icon [icon]="['far','folder-open']" class="mr-1"></fa-icon> Work
        </a>
        <a class="nav-item nav-link" routerLink="/resume" routerLinkActive="active">
          <fa-icon [icon]="['far','history']" class="mr-1"></fa-icon> Resume
        </a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
          <fa-icon [icon]="['far','user']" class="mr-1"></fa-icon> About
        </a>
        <a class="nav-item nav-link" routerLink="/photography" routerLinkActive="active">
          <fa-icon [icon]="['far','camera']" class="mr-1"></fa-icon> Photography
        </a>
          </div>
      </div>
  </div>
</nav>
<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h1 class="text-english-green display-3">Kellie Higa</h1>
            <h2 class="text-outer-space">UX Engineer</h2>
        </div>
    </div>
</div>
<!-- Under Construction Messsage -->
<div class="container mb-4">
  <div class="row">
    <div class="col-12 p-3" style="background: #F8C8C344">
      <b class="text-terracotta">
        <fa-icon [icon]="['far', 'traffic-cone']" class="mr-2"></fa-icon>Pardon the dust, contruction work ongoing:
      </b><br>
      Hey there, thanks for stopping by! 😀 <br>

      I'm currently looking for UX Engineer or Front-end Development positions in the San Diego and San Francisco areas.

      <br>
      Check out some of my projects below and feel free to <a href="mailto:kelliekhiga@gmail.com">reach out to me</a>
      about anything.<br>
      ❤️ Kellie
    </div>
  </div>
</div>

    <router-outlet></router-outlet>
</div>
