<div class="container">
        <div class="row">
                <div class="col text-right">
                <a href="../../assets/files/Resume_Higa, Kellie.pdf" download>
                    <button mat-flat-button class="btn bg-snow"><fa-icon [icon]="['far','arrow-to-bottom']" class="mr-2"></fa-icon>PDF</button>    
                </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <h2 class="font-weight-bold text-cadet-blue">Professional Experience</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h5 class="semi-bold">Voyager Technologies</h5>
                    <h5 class="font-weight-light">UI/UX Designer & Front-End Developer</h5>
                </div>
                <div class="col-5 text-right font-weight-light">
                    <h5 class="font-weight-normal">San Diego, CA</h5>
                    <h5 class="font-weight-light">April 2018 → Aug 2019</h5>
                </div>
                <div class="col-12">
                    <span class="font-weight-light role">UI/UX Designer</span>
                    <ul>
                        <li>
                            Conducted user research and incorporated feedback in iterative design process
                        </li>
                        <li>
                            Created deliverabes, including user workflows and wireframes, to be easily interpreted and implemented by software development team
                        </li>
                        <li>
                            Maintained graphic standards and branding throughout the product's interface
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <span class="font-weight-light role">Front-End Developer</span>
                    <ul>
                        <li>
                            Implemented features in Angular (TypeScript) based on specified workflows and wireframes
                        </li>
                        <li>
                            Optimized application for maximum speed, user friendliness, and scalability
                        </li>
                        <li>
                            Created and documented workflows, data models, and architecture
                        </li>
                        <li>
                            Wrote unit tests using Jasmine and Karma
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="px-4">
            <div class="row">
                    <div class="col-6">
                        <h5 class="semi-bold">Voyager Technologies</h5>
                        <span class="font-weight-light">UI/UX Designer & Front-End Developer</span>
                    </div>
                    <div class="col-6 text-right font-weight-light">
                        <h5 class="font-weight-normal">San Diego, CA</h5>
                        April 2018 → Aug 2019
                    </div>
                    <div class="col-12">
                        <span class="font-weight-light role">UI/UX Designer</span>
                        <ul>
                            <li>
                                Conducted user research and incorporated feedback in iterative design process
                            </li>
                            <li>
                                Created deliverabes, including user workflows and wireframes, to be easily interpreted and implemented by software development team
                            </li>
                            <li>
                                Maintained graphic standards and branding throughout the product's interface
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <span class="font-weight-light role">UI/UX Designer</span>
                        <ul>
                            <li>
                                Conducted user research and incorporated feedback in iterative design process
                            </li>
                            <li>
                                Created deliverabes, including user workflows and wireframes, to be easily interpreted and implemented by software development team
                            </li>
                            <li>
                                Maintained graphic standards and branding throughout the product's interface
                            </li>
                        </ul>
                    </div>
                </div>


            <div class="row">
                <div class="col">                    
                    <h2 class="font-weight-bold text-cadet-blue">Education</h2>
                    <hr>
                    
                    <h2 class="font-weight-bold text-cadet-blue">Projects</h2>
                    <hr>
                    
                    <h2 class="font-weight-bold text-cadet-blue">Tools & Technologies</h2>
                    <hr>
                    
                    <h2 class="font-weight-bold text-cadet-blue">Soft Skills</h2>
                    <hr>
                </div>  
            </div>
</div>
