<div class="row">
    <div class="col text-right">
    <button mat-flat-button class="bg-snow"><fa-icon [icon]="['far','arrow-to-bottom']" class="mr-2"></fa-icon>PDF</button>    
    </div>
</div>

<h2 class="font-weight-bold text-cadet-blue">Professional Experience</h2>
<hr>

<h2 class="font-weight-bold text-cadet-blue">Education</h2>
<hr>

<h2 class="font-weight-bold text-cadet-blue">Projects</h2>
<hr>

<h2 class="font-weight-bold text-cadet-blue">Tools & Technologies</h2>
<hr>

<h2 class="font-weight-bold text-cadet-blue">Soft Skills</h2>
<hr>